body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/59bec9f67131a59f1c594194/1553603330935-M5I3U7DYRY7JQ196C512/Sorteio+no+instagram.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0;
  
}