*{
    margin: 0;
    padding: 0;
}
.Sorteio{
    text-align: center;
    margin: 50px 495px;
    background-color: aqua;
    padding: 30px;
    border-radius: 10px;
}
.Sorteio h2{
    color: purple;
}
.Sorteio button{
    background-color: purple;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 15px;
}
.Sorteio h3{
    font-size: 40px;
}